/* CSS Document */

body {
	background-image:url(images/deal.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#66150A;
	padding:0px;
	margin:0px;
}

#left {
	height:650px;
	width:300px;
	float:left;
}

#left .boxholder{
		width:290px;
		height:70px;
		float:left;
}


#left .box {
	width:290px;
	height:65px;
	background-color:#09F;
	border-color:#F90;
	border:5px;
	border-radius:3px;
	text-align:center;
	font:Verdana;
	color:#FFF;
	text-shadow:#999;
	font-size:65px;
	margin:2px;

	
}

#left .a { 
	color:#FFF;
	text-decoration:none;
}

#left .boxclosed {
	width:5px;
	height:45px;
	background-color:#09F;
	border-color:#F90;
	border:5px;
	border-radius:3px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	color:#FFF;
	text-shadow:#999;
	font-size:36px;
	margin:2px;
	
}

#right {
	height:650px;
	width:300px;
	float:right;
}

#right .boxholder{
		width:290px;
		height:70px;
		float:right;
}


#right .box {
	width:290px;
	height:65px;
	background-color:#F03;
	border-color:#F90;
	border:5px;
	border-radius:10px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	color:#FFF;
	text-shadow:#999;
	font-size:65px;
	margin:2px;
	
	
}
#right .box .a {
	color:#FFF;
	text-decoration:none;
}

#right .boxclosed {
	width:5px;
	height:65px;
	background-color:#F03;
	border-color:#F90;
	border:5px;
	border-radius:3px;
	text-align:center;
	font:Verdana, Geneva, sans-serif;
	color:#FFF;
	text-shadow:#999;
	font-size:65px;
	margin:2px;
	
	margin-left:285px;
		
}


#PopupPanel
{
    border: solid 1px black;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 200px;
    margin-top: -200px;

    width: 300px;
    margin-left: -300px;
	border-radius: 30px;
}

#offer {
	height: 150px;
	width:100%;
	overflow:hidden;
	background-color:#693;
	text-align:center;
	color:#FFF;
	top-padding:50px;
	line-height:100px;
	vertical-align:central;
	font-size:36px;
}

#deal {
	width: 50%;
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 34px;
	float:left;
	background-color:#093;
}

#nodeal {
	width:50%;
	height:50px;
	text-align:center;
	color:#FFF;
	font-size:34px;
	float:right;
	background-color:#C03;
	
}

#play {
	width:100%;
	height:50px;
	text-align:center;
	color:#FFF;
	font-size:34px;
	float:right;
	background-color:#C03;
	
}
#fill {
	width:100%;
	height:50px;
	text-align:center;
	color:#FFF;
	font-size:34px;
	float:right;
	background-color:#C03;
	
}

.a {
	color:#FFF;
	text-decoration:none
