/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#video_background { 
	position: absolute;
	bottom:0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -1000;
	overflow: hidden; 
	background-a: fixed;
	}
		
	